/*
p:#324E67;

*/

* {
  color: #333;
  font-family: Microsoft JhengHei;
  font-size: 16px;
}
/*nav-bar*/
.rb-header ul.rb-nav-menu li {
  letter-spacing: 0.5rem;
}
.rb-header ul.rb-nav-menu a {
  color: #333;
}

.rb-header ul.rb-nav-menu li::after {
  content: "";
  display: inline-block;
  background-color: #333;
  width: 1px;
  height: 16px;
  transform: translateY(-30px);
  margin-right: 10px;
}
.rb-header ul.rb-nav-menu li:first-child::after {
  display: none;
}

/*main-account*/

.rb-main-account-pic {
  width: 95px;
  height: 95px;
}

.rb-main-account-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.rb-account-info,
.rb-account-info p {
  background-color: #324e67;
  color: #fff;
}

.rb-account-message {
  display: inline-block;
  padding:1px 3px 5px 3px;
  background-color: #fff;
  -webkit-clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    41% 77%,
    14% 92%,
    18% 75%,
    0% 75%
  );
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    41% 77%,
    14% 92%,
    18% 75%,
    0% 75%
  );
}

.rb-account-info-content{
 width: 200px;
}
.rb-account-info-content p{
   
}
.rb-account-message{
   right:0;
}
.rb-account-info-content p::after {
  margin-top:5px;
  content: "";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 1px;
}

footer {
  background-color: rgb(137, 212, 137);
}
.title {
  display: block;
  text-align: center;
}

/*canvas circle progress bar*/
/*https://bootsnipp.com/snippets/nrQWa*/

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  font-size: 32px;
  line-height: 125px;
  text-align: center;
  position: absolute;
  top: 7.5%;
  left: 7.5%;
}
.progress.blue .progress-bar {
  border-color: #049dff;
}
.progress.blue .progress-value {
  color: #049dff;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
  border-color: #fdba04;
}
.progress.yellow .progress-value {
  color: #fdba04;
}
.progress.yellow .progress-left .progress-bar {
  animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar {
  border-color: #ed687c;
}
.progress.pink .progress-value {
  color: #ed687c;
}
.progress.pink .progress-left .progress-bar {
  animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar {
  border-color: #1abc9c;
}
.progress.green .progress-value {
  color: #1abc9c;
}
.progress.green .progress-left .progress-bar {
  animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}
@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}
